
h1 {
  font-size: 60px;
}

footer {
  height: 25px;
  padding-top: 60px;
  position: fixed;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}
#kick {
  font-weight: bold;
  color: white;
}
.subtitle {
  color: #45D9E1;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.main-con{
  background: url('imgs/Background_image.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.padd{
  height: 180px;
}
.message-container {
  padding-left: 50px;
  color: white;
}

.client-container {
  height: 200px;
  width: 200px;
}
.footer-row {
  background-color: #101F2D;
}
.footer-col {
  color: white;
  text-align: right;
  padding-right: 60px;
}
